.label {
    display: block;
    max-width: 600px;
    text-align: right;
    margin-bottom: 0.7em;
}

.field {
    width: 450px;
    border: 1px solid darkgrey;
    padding: 0.1em 0.2em;
    font-family: sans-serif;
    vertical-align: top;
}

textarea.field {
    height: 200px;
}
